*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #F5F5F5;
    font-family: system-ui;
    scroll-behavior: smooth;
}
.navbar{
    background: #F5F5F5;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position:sticky;
    top: 0;
    text-decoration: none;
    flex-direction: column;
    z-index: 999;
}
.navbar h1{
    font-size: 1.5rem;
    color: #131313;
    display: inline;
}
.fa-maxcdn, h1{
    padding-top: 20px;
}
.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 10;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
    border-bottom: none;
}
.navbar__container span{
    color: green;
}
.fa-maxcdn{
    font-size: 25px;
    color: green;
    float: left;
}
.fa-bolt, .fa-bell, .fa-question-circle, .fa-user-circle{
    font-size: 20px;
    margin: 5px;
    color: rgb(5, 20, 5);
    padding: 15px;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
}

 /*Side-Panel*/
 .side__panel__container{
    width: 50%;
    height: 100vh;
    justify-content:space-between;
 }
table{
    justify-content: left;
    position: relative;
    left: 150px;
    bottom: 40px;
    width: 80%;
    border-collapse:collapse;  
}

.fa-plus-circle{
    font-size: 50px;
    position: relative;
    color: green;
    left: 50px;
    top: 50px;
}
.fa-circle{
    font-size: 10px;
    color: indigo;
}
th, td{
    padding: 15px;
}
.data__header{
    text-align: left;
}
.data__rows{
    border-collapse:separate;
    border-spacing:0 5px;
}
td{
    background: #fff;
}
.data__rows:hover{
    border: 2px solid green;
    border-radius: 8px;
    cursor: pointer;
}
.side__panel__container, .data__details{
    float: left;
}

/*Data Details*/
.data__details{
    align-items:center;
    justify-content: center;
    text-decoration: none;
    width: 700px;
    height: 120px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #fff;
    position: relative;
    top: 50px;
}
#update__time{
    display: inline;
    font-size: 15px;
    background: #fff;
    padding-left: 10px;
}

.data__title{
    font-size: 20px;
    font-weight: bold;
    background: #fff;
    padding: 10px 10px;
}
.btn__open{
    text-align: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 10px;
    margin: 10px 5px;
    height: 35px;
    width: 25%;
    border: none;
    outline: none;
    border-radius: 4px 4px;
    background: green;
    color: #fff;
    font-size: 15px;
    transition: all 0.3s ease;   
}
.btn__open, .btn__dots{
    display: inline;
    float: left;
}
button, #update__time{
    display: flex;
}
.btn__dots{
    border: none;
    font-size: 20px;
    padding: 2px 5px;
    margin: 10px;
    background: #fff;
}

.btn__open, .btn__dots, .fa-plus-circle:hover{
    cursor: pointer;
}

